<section class=" suggestionsGallery " >
<mat-card class="suggestionsBox" *ngFor="let event of eventz.pushEventName();let i = index">
    <div class="hotItem">
        <img mat-card-image src="../assets/images/hotItem.png" alt="">
    </div>
    <div class="newItem">
        <img mat-card-image src="../assets/images/newItem.png" alt="">
    </div>
    <div class="eventImage">
        <img  src="../assets/images/band1.jpg " alt=" ">
    </div>

    <mat-card-content>
        <mat-card-subtitle class="venueName">{{eventz.pushVenueName()[i]|uppercase}},&nbsp;</mat-card-subtitle>
        <mat-card-subtitle class="venueAddress">{{eventz.pushEventAddress()[i]|uppercase}} </mat-card-subtitle><br>
        <mat-card-title class="eventName">{{eventz.pushEventName()[i]}}</mat-card-title>
        <mat-card-title class="price">{{eventz.pushEventPrice()[i]|currency:'USD':'symbol':'1.0-0'}} entry</mat-card-title>
        <mat-card-actions>
                <div class="ratingItem">
                        <img src="../assets/images/ratingItem.png" alt="">
                        <p class="ratingNumber">({{eventz.pushEventRatingNo()[i]}})</p>
                </div>
           <button mat-fab color="warn" >Buy now</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
</section>




<!-- {{event.getEventPrice()|currency:'USD':'symbol':'1.0-0'}} -->
