
<mat-card appCardHover class="suggestionsBox">

        <img mat-card-image src="{{event.image}}" alt="{{event.name}}">


    <mat-card-content class="contents">
        <mat-card-subtitle class="venueName">{{event.venueName}}</mat-card-subtitle>
        <mat-card-subtitle class="venueAddress">{{event.location.city}}</mat-card-subtitle><br>
        <mat-card-title class="eventName">{{event.name}}</mat-card-title>
        <mat-card-title class="price">{{event.price| currency}}</mat-card-title>
                <div class="ratingItem">
                        <!-- Manual for angular-star-rating and how to do it -->
                        <!-- https://github.com/BioPhoton/angular-star-rating/wiki/Property-bindings#label-modifier -->
                        <!-- You need to download the angular-star-rating@3.0.8 i css-star-rating@1.1.2 -->
                        <star-rating-comp [size]="'small'" [readOnly]="true"[hoverEnabled]="false"[showHalfStars]="true"class="ratingImage"[starType]="'svg'" [rating]="5"></star-rating-comp>
                        <p class="ratingNumber"></p>
                </div>
    </mat-card-content>
</mat-card>





