<main>
    <div class="banner">
    <img src="{{band?.image}}" alt="{{band?.name}}">
</div>
  <div class="headWrap">
    <div class="title">
      <h1>{{ band?.name }}</h1>
      <h2>{{band?.city}}. {{band?.genre}}</h2>
    </div>
    <div class="buttons">
      <button mat-raised-button routerLink="">Message</button>
      <button mat-raised-button="" id="rate" (click)="rate()">Rate
        <div *ngIf="rateDropDown" class="dropDown">
          <p>
            1 2 3 45
          </p>
        </div>
      </button>
      <button *ngIf="showContent" mat-raised-button (click)="toggleContentGigs()">Gigs</button>
      <button *ngIf="showGigs" mat-raised-button (click)="toggleContentGigs()">Profile</button>
    </div>
  </div>

  <div *ngIf="showContent" class="content">
    <article>
      <p>{{ band?.description }}</p>
    </article>
    <aside>
      <iframe *ngIf="isBand" style="border: 0; width: 350px; height: 470px;"
              [src]="bandCampLink |safeUrl"
              seamless><a href="http://streetpieces.bandcamp.com/album/everything-you-ever-wanted">Everything You Ever
        Wanted by Street Pieces</a></iframe>

      <img *ngIf="isVenue" src="../../assets/images/fakeMap.JPG">
    </aside>
  </div>

  <ng-container *ngIf="showGigs">
    <div class="event" *ngFor="let gig of gigs">
      <div class="title">
        <h1>{{ gig['name'] }}</h1>
        <h2>{{ gig['date'] }} | {{ gig['venue'] }} | {{ gig['city'] }}</h2>
      </div>
      <button mat-raised-button>Buy tickets</button>
    </div>
  </ng-container>
  <app-chat-box></app-chat-box>
</main>
