<div class="wrapper">
  <div class="logInWindow">
    <div class="title">
      <h1>Log In to BANDZ account </h1>
      <div class="x"  (click)=closeLoginForm()></div>
    </div>
    <div class="Container">
      <form action="" method="post"  class="form form-login">
        <mat-form-field [floatLabel]="Maciej">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Please provide your username" >

        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Please provide your password">
        </mat-form-field>
            <input class="submit"  type="submit">
       
        <a id="lostPassword" href="#">Lost your password?</a><br>
        <a id="registerAccount" href="#">Don't have an account?</a>

      </form>
    </div>
  </div>
