@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.suggestions {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.topBands,
.topEvents{
    margin-top: 5em;
    height: 100%;
}
.suggestionsGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 1em;
  

}
