
<div class="wrapper">
      <div class="content">
        <div class="innerWrapper">
          <form>
            <div class="searchWrapper">
              <img src="../../assets/images/search.svg">
              <input  (focus)="changeActive()" (blur)="changeActive()" class="text-box" title='search' type="text"
                     placeholder="Search&#8226;Anytime">
            </div>

          </form>
          <div class="additionalInformationWrapper" [style.display]="isActive() ? 'block': 'none'">
            <div class="innerWrapper">
              <h3 class="title">
                Explore
                <b>BANDS</b>
              </h3>
              <button class="myButton">All</button>
              <button class="myButton">Bands</button>
              <button class="myButton">Events</button>
            </div>
          </div>
        </div>

      </div>
      <section class="filterContainer">
          <div class="filterWrapper">
            <button  class ="filterButton"mat-button>Dates</button>
            <button class ="filterButton" mat-button>Price</button>
            <button class ="filterButton" mat-button>Popularity</button>
            <button class ="filterButton" mat-button>Distance</button>
            <button class ="filterButton" mat-button>Events</button>
            <button class ="filterButton" mat-button>Bands</button>
          </div>
      </section>


  <section class="searchResultsContainer">
      <h1>Bands</h1>
      <h2>Discover best bands accross Australia</h2>
    <main-band-suggestions></main-band-suggestions>
    <h1>Events</h1>
    <h2>Book and experience great events </h2>
    <main-event-suggestions ></main-event-suggestions>
  </section>
  <aside class="mapContainer"  [class.fixed]="fixed">

      <agm-map [class.fixed]="fixed"  [latitude]= "latitude"  [longitude]="longitude" >
        <agm-marker *ngFor="let marker of markers; let i = index"
        [latitude]= "marker.latitude"
        [longitude]="marker.longitude"
        label="{{marker.eventPrice +'AUD'}}">
      </agm-marker>
      </agm-map>

  </aside>
</div>

