<main>
  <div class="banner" [ngStyle]="{'background': banner}"></div>
  <div class="headWrap">
    <div class="title">
      <h1>{{ title }}</h1>
      <h2>{{location}}. {{genre}}</h2>
    </div>
    <div class="buttons">
      <button mat-raised-button>Message</button>
      <button mat-raised-button>Rate</button>
      <button mat-raised-button routerLink="/profile">Profile</button>
    </div>
  </div>

  <div class="event" *ngFor="let gig of gigs">
    <div class="title">
      <h1>{{ gig['name'] }}</h1>
      <h2>{{ gig['date'] }} . {{ gig['venue'] }} . {{ gig['city'] }}</h2>
    </div>
    <button mat-raised-button>Buy tickets</button>
  </div>
</main>
