<mat-card class="suggestionsBox">
  <div class="hotItem">
    <img mat-card-image src="../../../assets/images/hotItem.png" alt="">
  </div>
  <div class="bandImage">
    <img src="../../../assets/images/band1.jpg " alt=" ">
  </div>
  <mat-card-content>
    <mat-card-subtitle class="bandName">Drunk Donkey,</mat-card-subtitle>
    <mat-card-subtitle class="bandAddress"> Moorooka</mat-card-subtitle>
    <br>
    <mat-card-title class="bandName">Band Name here</mat-card-title>
    <mat-card-actions>
      <div class="ratingItem">
        <a> <img class="playIcon" src="../../../assets/images/playButton.svg" alt=""></a>
        <p class="ratingNumber">Play sample
      </div>
      <button mat-fab>Book now</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
