@import "~variables.scss";

header{
  min-width: 100%;
  background-color: $color-accent;
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  height: 10vh;

  border-bottom: 2px solid $color-accent-dark;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

img{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 52px;
  width: 52px;
}

.logo{
  border-radius: 100%;
  background: #fff;
  height: 52px;
  widtH: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 12px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  color: #fff;
  font-size: 1.2em;
  li{
    padding: .5em 2em;
  }
}

h1{
  font-size: 3em;
  margin: .1em;
  color: #fff;
}
