<section class="wrapper">
  <section class="formWindow">
    <div class="title">
      <h1>Sign up {{accountType}} </h1>
      <section class="x" (click)=closeSubmissionForm()></section>
    </div>
    <!-- front of the  Fan window -->
    <div  id="fanCard"  (click)="showRegistrationForm($event)"  class="fanSection section" ontouchstart="this.classList.toggle('hover');">
      <article class="sectionInner">
        <!-- card -->
        <div [ngClass]="{rotate:fanIsFlipped}" class="card-front fanCard">
          <button>Sign up for a fan account</button>
        </div>
        <div class="card-back" [ngClass]="{show:fanIsFlipped}">
          <p class="title">Card is flipped</p>
        </div>
        <!-- /card -->
      </article>
    </div>
    <div  id="bandCard" (click)="showRegistrationForm($event)" id="bandCard" class="bandSection section">
      <article class="sectionInner">
        <!-- card -->
        <div  [ngClass]="{rotate:bandIsFlipped}" class="card-front bandCard">
          <button>Sign up for a fan account</button>
        </div>
        <div class="card-back" [ngClass]="{show:bandIsFlipped}">
          <p class="title">Card is flipped</p>
        </div>
        <!-- /card -->
      </article>
    </div>
    <div id="venueCard"(click)="showRegistrationForm($event)" id="venueCard" class="venueManagerSection section">
      <article class="sectionInner">
        <!-- card -->
        <div  [ngClass]="{rotate:venueIsFlipped}" class="card-front venueCard">
          <button>Sign up for a fan account</button>
        </div>
        <div class="card-back" [ngClass]="{show:venueIsFlipped}">
          <p class="title">VenueCard is flipped</p>
        </div>
        <!-- /card -->
      </article>
    </div>
  </section>
</section>
